body{
    background-color: yellow;
}
.banner{
    background: blue;
}
h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}
/* media query */
@media screen and (min-width:600px){
    body{
        background: red;
    }
    .banner{
        background: yellow;
    }
    h1{
        color: black;
        font-size: 60px;
    }
}