body {
    background-color:black;
    background-image: url("/ProjectMyPortfolio/2021-10-21\ \(2\)_LI.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
}

div > h1 {
    color: white;
    font-size: 20px;
    font-family: cursive;
}

.header {
    color: white;
}
span {
    color: rgb(10, 240, 79);
}
h2 {
    font-size: 50px;
    
}
fieldset {
    margin-right: 1000px;
    
}
legend {
    color: rgb(251, 255, 0);
}
